{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать в сервис мгновенных блогов InstaBlog!</h1>
        <p class="lead">Данный сервис предназначен для обмена информацией в виде блогов - заметок пользователей,
        которые хотели бы поделиться информацией с другими, опубликовать интересные факты, написать образовательные
        статьи, поделиться своим опытом, возможно какими-то приёмами для упрощения процесса достижения
        поставленных целей при помощи разных полезных советов и хитрых трюков.
        </p>
        <hr class="my-4">
        <p class="lead"> Чтобы опубликовать свой пост, Вам необходимо зарегистрироваться/авторизоваться!</p>
        <p class="lead"> Приятного чтения!</p>
    </div>
{% endblock content %}